body {
    margin: 0;
    font-family: Arial;
}

.controls {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#colors {
    display: flex;
}

.color-picker {
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 3px;
}

.scheme-select {
    width: 300px;
    height: 40px;
    border: 1px solid #D1D5DB;
    border-radius: 3px;
    font-size: 1rem;
    color: #111827;
}

.get-btn {
    width: 120px;
    height: 40px;
    border: 1px solid #D1D5DB;
    background-color: #ffffff;
    color: #374151;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
}

.color-box {
    flex: 1;
    display: flex;
    height: 92vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    color: white;
}

.color-name {
    font-size: 14px;
    opacity: 0.8;
    line-height: 5;
}